.desktopNav {
    position: fixed;
    /* position: sticky; */
    /* top: 0; */
    bottom: 0;
    z-index: 999;
    width: 100%;
    display: none;
    justify-content: center;
    transition: 0.4s ease-in;
}

.desktopNav ul {
    list-style: none;
    display: inline-flex;
    padding: 0.625rem;
}

.desktopNav ul li {
    font-size: 1.5rem;
    display: flex;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.desktopNav ul li a {
    
}

@media (min-width: 1029px) {
    .desktopNav {
        display: inline-flex;
    }
}