.desktopNav {
    position: fixed;
    /* position: sticky; */
    /* top: 0; */
    bottom: 0;
    z-index: 999;
    width: 100%;
    display: none;
    justify-content: center;
    transition: 0.4s ease-in;
}

.desktopNav ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}

.desktopNav ul li {
    font-size: 1.5rem;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 1029px) {
    .desktopNav {
        display: inline-flex;
    }
}