/* Base - Mobile */
/* Card Content */
.l-card-content-flex {
  padding: 2rem 1rem 1rem 1rem;
  margin: 0 auto;
}

.l-info-btn {
  background: white;
  color: var(--blk);
  padding: 10px 22px;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

/* Rental Card */
.l-card {
  /* margin: auto; */
  max-height: 500px;
  min-height: 50%;
  max-width: 800px;
  width: 300px;
  height: 300px;
  position: relative;
  /* margin-bottom: 50px; */
  padding: 1rem;
}

.l-card::before {
  content: '';
  overflow: hidden;
  background: #fff;
  border-radius: 0.313rem;
  position: absolute;
  width: 90%;
  height: 85%;
  top: 0;
  /* Moves div behind */
  transform: translate(-120px, 0.488rem);
  transition: transform 0.4s ease;

  display: none;
}

.l-card:hover:not(.expanded)::before {
  transform: translate(0.25, 0.488rem);
}

.l-content {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.313rem;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.6);
  padding: 0.875rem 1rem;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

/* Expanded Content (James) */
.l-expanded-close {
  background: none;
  padding: 0.313rem;
  position: absolute;
  right: 0;
  top: 0;
}

.l-title {
  font-size: 3.5rem;
}

.l-about-btn {
  width: 100%;
  margin-top: 5px;
  background: var(--blk);
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
  font-size: 18px;
  color: #fff;
}

/* New Expanded Content */
.l-expanded-content {
  display: grid;
  place-items: center;
}

.l-inner-card {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  color: #222;
  text-align: center;
  /* padding: 2em; */
  margin-top: 25px;
  border-radius: 5px;
}

.l-profile-img {
  border-radius: 50%;
  border: 4px solid #222;

  display: none;
}

.l-social-list {
  display: none;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 125px;
  /* border: 3px solid red; */
  margin: 0 auto;
}

.l-profile-main {
  padding: 0.5rem;
}

.l-profile-name {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.l-profile-position {
  margin-bottom: 5px;
}
/* ------------------ */
/* 500px Media Query */
@media (min-width: 500px) {
  .l-card-content-flex {
    margin: auto 0;
    padding: 1rem;
  }

  .l-card {
    width: 450px;
    height: 100%;
  }

  .l-card::before {
    content: '';
    overflow: hidden;
    background: #fff;
    border-radius: 0.313rem;
    position: absolute;
    width: 91%;
    height: 80%;
    top: 0;
    /* Moves div behind */
    /* 5px, 11px */
    transform: translate(-180px, 2.2rem);
    transition: transform 0.4s ease;

    display: inline;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-170px, 3rem);
  }

  .l-info-btn {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(33, 32, 32, 1);
    color: #fff;
    font-size: 1rem;
  }

  .l-title {
    /* margin: 0 0 10px; */
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 0.625rem 0px 0px;
  }

  .l-content {
    height: 100%;
    width: 100%;
    padding: 0.875rem 1rem;
  }
}

/* ------------------ */
/* 601px Media Query - Tablet */
@media (min-width: 601px) {
  .l-card {
    width: 500px;
  }

  .l-card {
    max-height: 700px;
    min-height: 318px;
    max-width: 1000px;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-200px, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-185px, 2.4rem);
  }

  .l-content {
    padding: 44px 16px;
  }

  .l-about-btn {
    width: 50%;
  }

  /* New Expanded Content */
  .l-inner-card {
    text-align: left;
    margin-top: 5px;
    width: 100%;
  }

  .l-profile-img {
    display: flex;
    position: absolute;
    /* display: none; */
    top: 18%;
    right: 8%;
    width: 150px;
    /* height: 30px;  */
  }

  .l-social-list {
    display: flex;
    position: absolute;
    top: 76%;
    right: 10%;
  }

  .l-profile-main {
  }

  .l-profile-name {
    font-size: 1rem;
  }

  .l-profile-position {
  }

  .l-profile-body {
    width: 55%;
  }
}

@media (min-width: 801px) {
  .l-card {
    width: 500px;
  }

  .l-content {
    padding: 44px 16px;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-200px, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-185px, 2.4rem);
  }

  /* Expanded Content */
  .l-profile-img {
    top: 20%;
  }

  .l-social-list {
    display: flex;
    position: absolute;
    top: 74%;
    right: 10%;
  }
}

@media (min-width: 901px) {
  .l-card {
    width: 500px;
  }

  .l-content {
    padding: 46px 16px;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-200px, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-185px, 2.4rem);
  }
}

@media (min-width: 1029px) {
  .l-card {
    width: 500px;
  }

  .l-content {
    padding: 46px 16px;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-200px, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-185px, 2.4rem);
  }
}

.l-content {
  padding: 50px 16px;
}

.l-card::before {
  width: 90%;
  height: 69%;
  top: 0;

  transform: translate(-200px, 0.4rem);
  transition: transform 0.4s ease;
}

.l-content {
  padding: 55px 16px;
}

/* Expanded Content */
.jlprofile-img {
  top: 22%;
}

.l-social-list {
  right: 10%;
}

/* Expanded Content */
.l-profile-img {
  top: 22%;
}

.l-card::before {
  width: 90%;
  height: 69%;
  top: 0;
}
.l-content {
  padding: 55px 16px;
}

/* Expanded Content */
.jlprofile-img {
  top: 22%;
}

.l-social-list {
  right: 10%;
}

/* Expanded Content */
.l-profile-img {
  top: 22%;
}

.l-social-list {
  right: 10%;
}

@media (min-width: 1580px) {
  .l-card {
    width: 600px;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-240px, 3.4em);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-225px, 3.8rem);
  }
}

@media (min-width: 1655px) {
  .l-card {
    width: 700px;
    height: 200px;
    /* right: 5%; */
  }

  .l-card::before {
    width: 90%;
    height: 89%;
    top: 0;

    transform: translate(-270px, 2.4rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-255px, 2.8rem);
  }

  .l-content {
    /* padding: 84px 16px; */
    width: 100%;
    display: block;
  }

  .l-title {
    font-size: 8rem;
  }

  .l-about-btn {
    width: 50%;
    margin-top: 5px;
    background: var(--blk);
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
    color: #fff;
    position: relative;
    left: 25%;
  }

  /* New Expanded Content */
  .l-expanded-content {
    padding: 0;
    margin: 0;
    /* margin-left: 30px; */
    /* display: block; */
  }

  .l-inner-card {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .l-profile-img {
    position: relative;
    top: 1%;
    left: 10%;
    width: 60%;
  }

  .l-social-list {
    position: relative;
    top: 5%;
  }

  .l-profile-body {
    width: 100%;
  }

  .l-profile-name {
    font-size: 1.5rem;
    text-align: center;
  }

  .l-profile-position {
    text-align: center;
  }

  .l-profile-body {
    text-align: center;
  }

  .l-profile-name::after {
    content: '';
    display: block;
    height: 1px;
    width: 2em;
    background: rgb(0, 0, 0);
    margin: 0.7em 0.5em auto;
    opacity: 0.35;
  }
}

.l-card:hover:not(.expanded)::before {
  transform: translate(-251px, -0.5rem);
}

@media (min-width: 1655px) {
  .l-card {
    width: 700px;
    height: 200px;
    /* right: 5%; */
  }

  .l-card::before {
    width: 90%;
    height: 89%;
    top: 0;

    transform: translate(-270px, 0.1rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-291px, -0.5rem);
  }

  .l-content {
    /* padding: 84px 16px; */
    width: 100%;
    display: block;
  }

  .l-title {
    font-size: 8rem;
  }

  .l-about-btn {
    width: 50%;
    margin-top: 5px;
    background: var(--blk);
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
    color: #fff;
    position: relative;
    left: 25%;
  }

  /* New Expanded Content */
  .l-expanded-content {
    padding: 0;
    margin: 0;
    /* margin-left: 30px; */
    /* display: block; */
  }

  .l-inner-card {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .l-profile-img {
    position: relative;
    top: 1%;
    left: 10%;
    width: 60%;
  }

  .l-social-list {
    position: relative;
    top: 5%;
  }

  .l-profile-body {
    width: 100%;
  }

  .l-profile-name {
    font-size: 1.5rem;
    text-align: center;
  }

  .l-profile-position {
    text-align: center;
  }

  .l-profile-body {
    text-align: center;
  }

  .l-profile-name::after {
    content: '';
    display: block;
    height: 1px;
    width: 2em;
    background: rgb(0, 0, 0);
    margin: 0.7em 0.5em auto;
    opacity: 0.35;
  }
}

@media (min-width: 1905px) {
  .l-card {
    height: 370px;
  }

  .l-inner-card {
    padding: 10px;
  }

  .l-profile-img {
    position: relative;
    top: 1%;
    left: 10%;
    width: 75%;
  }

  .l-social-list {
    top: 3%;
    left: -2%;
  }

  .l-profile-body {
    margin-bottom: 20px;
  }
}
