/* Base - Mobile */
/* Card Content */
.l-card-content-flex {
  padding: 2rem 1rem 1rem 1rem;
  margin: 0 auto;
}

.l-info-btn {
  background: white;
  color: var(--blk);
  padding: 0.625rem 1.375rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

/* Rental Card */
.l-card {
  max-height: 31.25rem;
  min-height: 50%;
  max-width: 50rem;
  width: 18.75rem;
  height: 18.75rem;
  position: relative;
  padding: 1rem;
}

.l-card::before {
  content: '';
  overflow: hidden;
  background: #fff;
  border-radius: 0.313rem;
  position: absolute;
  width: 90%;
  height: 85%;
  top: 0;
  /* Moves div behind */
  transform: translate(-7.5rem, 0.488rem);
  transition: transform 0.4s ease;

  display: none;
}

.l-card:hover:not(.expanded)::before {
  transform: translate(0.25, 0.488rem);
}

.l-content {
  background: url('../../../../assets/lina-card-dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.313rem;
  box-shadow: 0 1.563rem 1.563rem rgba(0, 0, 0, 0.6);
  padding: 0.875rem 1rem;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

/* Expanded Content (James) */
.l-expanded-close {
  background: none;
  padding: 0.313rem;
  position: absolute;
  right: 0;
  top: 0;
}

.l-title {
  font-size: 3.5rem;
}

.l-about-btn {
  width: 100%;
  margin-top: 0.313rem;
  background: var(--blk);
  border: 0.063rem solid white;
  border-radius: 0.313rem;
  padding: 0.188rem;
  font-size: 1.125rem;
  color: #fff;
}

.l-about-btn:hover {
  background: rgb(49, 49, 49);
}

/* New Expanded Content */
.l-expanded-content {
  display: grid;
  place-items: center;
}

.l-inner-card {
  width: 100%;
  max-width: 37.5rem;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  color: #222;
  text-align: center;
  /* padding: 2em; */
  margin-top: 1.563rem;
  border-radius: 0.313rem;
}

.l-profile-img {
  border-radius: 50%;
  border: 0.25rem solid #222;

  display: none;
}

.l-social-list {
  display: none;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 7.813rem;
  /* border: 3px solid red; */
  margin: 0 auto;
}

.l-profile-main {
  padding: 0.5rem;
}

.l-profile-name {
  font-size: 1.4rem;
  margin-bottom: 0.313rem;
}

.l-profile-position {
  margin-bottom: 0.313rem;
}

/* ------------------ */
/* 500px Media Query */
@media (min-width: 500px) {
  .l-card-content-flex {
    margin: auto 0;
    padding: 1rem;
  }

  .l-card {
    width: 28.125rem;
    height: 100%;
  }

  .l-card::before {
    content: '';
    overflow: hidden;
    background: #fff;
    border-radius: 0.313rem;
    position: absolute;
    width: 91%;
    height: 80%;
    top: 0;
    /* Moves div behind */
    /* 5px, 11px */
    transform: translate(-11.25rem, 2.2rem);
    transition: transform 0.4s ease;

    display: inline;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-10.625rem, 3rem);
  }

  .l-info-btn {
    display: block;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    border: 0.063rem solid rgb(255, 255, 255);
    background: rgb(33, 32, 32, 1);
    color: #fff;
    font-size: 1rem;
  }

  .l-title {
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0rem 0.625rem 0rem 0rem;
  }

  .l-content {
    height: 100%;
    width: 100%;
    padding: 0.875rem 1rem;
  }
}

/* ------------------ */
/* 601px Media Query - Tablet */
@media (min-width: 601px) {
  .l-card {
    width: 31.25rem;
  }

  .l-card {
    max-height: 43.75rem;
    min-height: 19.875rem;
    max-width: 62.5rem;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-12.5rem, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-11.563rem, 2.4rem);
  }

  .l-content {
    padding: 2.75rem 1rem;
  }

  .l-about-btn {
    width: 50%;
  }

  /* New Expanded Content */
  .l-inner-card {
    text-align: left;
    margin-top: 0.313rem;
    width: 100%;
  }

  .l-profile-img {
    display: flex;
    position: absolute;
    top: 18%;
    right: 8%;
    width: 9.375rem;
  }

  .l-social-list {
    display: flex;
    position: absolute;
    top: 76%;
    right: 10%;
  }

  .l-profile-name {
    font-size: 1rem;
  }

  .l-profile-body {
    width: 55%;
  }
}

@media (min-width: 801px) {
  .l-card {
    width: 31.25rem;
  }

  .l-content {
    padding: 2.75rem 1rem;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-12.5rem, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-11.563rem, 2.4rem);
  }

  /* Expanded Content */
  .l-profile-img {
    top: 20%;
  }

  .l-social-list {
    display: flex;
    position: absolute;
    top: 74%;
    right: 10%;
  }
}

@media (min-width: 901px) {
  .l-card {
    width: 31.25rem;
  }

  .l-content {
    padding: 2.875rem 1rem;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-12.5rem, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-11.563rem, 2.4rem);
  }
}

@media (min-width: 1029px) {
  .l-card {
    width: 31.25rem;
  }

  .l-content {
    padding: 2.875rem 1rem;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-12.5rem, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-11.563rem, 2.4rem);
  }
}

@media (min-width: 1101px) {
  .l-card {
    width: 31.25rem;
  }

  .l-content {
    padding: 3rem 1rem;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-12.5rem, 2rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-11.563rem, 2.4rem);
  }
}

@media (min-width: 1235px) {
  .l-card {
    width: 31.25rem;
  }

  .l-content {
    padding: 3.125rem 1rem;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-12.5rem, 3em);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-11.563rem, 3.4em);
  }
}

@media (min-width: 1401px) {
  .l-card {
    width: 31.25rem;
  }

  .l-content {
    padding: 3.438rem 1rem;
  }

  /* Expanded Content */
  .jlprofile-img {
    top: 22%;
  }

  .l-social-list {
    right: 10%;
  }

  /* Expanded Content */
  .l-profile-img {
    top: 22%;
  }

  .l-social-list {
    right: 10%;
  }
}

@media (min-width: 1580px) {
  .l-card {
    width: 37.5rem;
  }

  .l-card::before {
    width: 90%;
    height: 69%;
    top: 0;

    transform: translate(-15rem, 3.4em);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-14.063rem, 3.8rem);
  }
}

@media (min-width: 1655px) {
  .l-card {
    width: 43.75rem;
    height: 12.5rem;
  }

  .l-card::before {
    width: 90%;
    height: 89%;
    top: 0;

    transform: translate(-16.875rem, 2.4rem);
    transition: transform 0.4s ease;
  }

  .l-card:hover:not(.expanded)::before {
    transform: translate(-15.938rem, 2.8rem);
  }

  .l-content {
    width: 100%;
    display: block;
  }

  .l-title {
    font-size: 8rem;
  }

  .l-about-btn {
    width: 50%;
    margin-top: 0.313rem;
    background: var(--blk);
    border: 0.063rem solid white;
    border-radius: 0.313rem;
    padding: 0.188rem;
    font-size: 1.125rem;
    color: #fff;
    position: relative;
    left: 25%;
  }

  /* New Expanded Content */
  .l-expanded-content {
    padding: 0;
    margin: 0;
  }

  .l-inner-card {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .l-profile-img {
    position: relative;
    top: 1%;
    left: 10%;
    width: 60%;
  }

  .l-social-list {
    position: relative;
    top: 5%;
  }

  .l-profile-body {
    width: 100%;
  }

  .l-profile-name {
    font-size: 1.5rem;
    text-align: center;
  }

  .l-profile-position {
    text-align: center;
  }

  .l-profile-body {
    text-align: center;
  }

  .l-profile-name::after {
    content: '';
    display: block;
    height: 0.063rem;
    width: 2em;
    background: rgb(0, 0, 0);
    margin: 0.7em 0.5em auto;
    opacity: 0.35;
  }
}

@media (min-width: 1905px) {
  .l-card {
    height: 23.125rem;
  }

  .l-inner-card {
    padding: 0.625rem;
  }

  .l-profile-img {
    position: relative;
    top: 1%;
    left: 10%;
    width: 75%;
  }

  .l-social-list {
    top: 3%;
    left: -2%;
  }

  .l-profile-body {
    margin-bottom: 1.25rem;
  }
}
