/* 320px >>> */

.j-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.l-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

/* James Modal */
/* ------------------------ */
.modal-btn-close-container {
    position: fixed;
    top: 0;
    right: 0;
}

.modal-card {
    position: relative;
    width: 90%;
    height: 190px;
    /* height: 450px; */
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    transition: 0.5s;

}

.modal-card:hover {
    height: 450px;
}

.modal-img-container {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.modal-card:hover .modal-img-container {
    width: 250px;
    height: 250px;
}

.modal-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-card .modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.modal-card .modal-content .modal-details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.modal-card:hover .modal-content .modal-details {
    transform: translateY(0px);

}

.modal-card .modal-content .modal-details h4 {
    font-size: 1.25rem;
    color: var(--blk);
    line-height: 1.2rem;
}

.modal-card .modal-content .modal-details span {
    font-size: 0.75rem;
    opacity: .5;
}

.modal-card .modal-content .modal-details .modal-data {
    display: flex;
    justify-content:space-around;
    margin: 20px 0;
}

.modal-card .modal-content .modal-details.modal-data h4 {
    font-size: 1rem;
    color: var(--blk);
    line-height: 1.2rem;
}

.modal-card .modal-content .modal-details .modal-data span {
    font-size: .6rem;
    opacity: 0.5;
}


.modal-card .modal-content .modal-details .modal-action-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal-card .modal-content .modal-details .modal-action-btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background: var(--blk);
    color: #fff;
    cursor: pointer;
}

