/* PROJECTS CAROUSEL FOR TABLET  */
.tab-owl-carousel-hide {
  display: none;
}

.tab-project-carousel {
  margin-top: 2rem;
}

.item p {
  height: 150px;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

@media (min-width: 601px) {
  .tab-owl-carousel-hide {
    display: contents;
  }
}

@media (min-width: 1029px) {
  .tab-owl-carousel-hide {
    display: none;
  }
}

/* @media (min-width: 1029px) {
  .project-carousel {
    position: absolute;
    top: 20rem;
  }
} */
