/* Base */

.j-main-about {
    width: 100%;
    height: 42vh;
    position: relative;
    /* height: 46vh; */
    padding: 0em 0em 0em 0em;
}
 
.j-main-about h2 {
    text-align: center;
}

.l-main-about {
    width: 100%;
    height: 37vh;
    /* height: 100%; */
    position: relative;
    padding: 0em 0em 0em 0em;
    border-bottom: 1px solid #fff;
}

/* Mobile */
@media screen and (min-height: 640px) {
    .j-main-about {
        height: 42vh;
    }
    
    .l-main-about {  
        height: 37vh;
    }
}

@media screen and (min-height: 725px) {
    .j-main-about {
        height: 38vh;
    }
    
    .l-main-about {  
        height: 32vh;
    }
}

@media screen and (min-height: 825px) {
    .j-main-about {
        height: 35vh;
    }
    
    .l-main-about {  
        height: 30vh;
    }
}

@media screen and (min-height: 896px) {
    .j-main-about {
        height: 33vh;
    }
    
    .l-main-about {  
        height: 27vh;
    }
}

/* Tablet */


/* Desktop */