// --------------------------------------------
/* Base / Mobile */
// About.js

.j-main-about {
  width: 100%;
  height: 48vh;
  padding: 0em 0em 0em 0em;
  position: relative;
}

.j-card-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

// AboutLina.js
#about-lina {
  margin-bottom: 5rem;
}

.l-main-about {
  width: 100%;

  position: relative;
  padding: 0em 0em 0em 0em;
}

.l-card-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.about-about {
  // width: 50%;
  font-size: 4em;
}

.about-us {
  // width: 50%;
  font-size: 4em;
}

// --------------------------------------------
// Tablet

// Width
@media (min-width: 801px) {
  #about-lina {
    // height: 500px;
    margin-bottom: 15rem;
  }
}

@media (min-width: 1029px) {
  .about-about {
    // width: 50%;
    font-size: 6.5em;
  }

  .about-us {
    // width: 50%;
    font-size: 6.5em;
  }
}

@media (min-width: 1655px) {
  .about-about {
    // width: 50%;
    font-size: 8em;
  }

  .about-us {
    // width: 50%;
    font-size: 8em;
  }
}

@media (min-width: 801px) {
  // James Card
  .j-card-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    right: 1rem;
  }

  .about-about {
    width: 100%;
    position: absolute;
    right: 14rem;
    top: 6rem;
  }

  // Lina Card
  .l-card-flex {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: baseline;
    justify-content: flex-end;
    left: 1rem;
  }

  .about-us {
    width: 100%;
    position: absolute;
    left: 14rem;
    top: 6rem;
  }
}

@media (min-width: 1029px) {
  // James Card
  .j-card-flex {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
    right: 1rem;
    margin-right: 2rem;
  }

  .about-about {
    width: 50%;
    position: absolute;
    right: 31rem;
    top: 6rem;
  }

  // Lina Card
  .l-card-flex {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: baseline;
    justify-content: flex-end;
    margin-left: 2rem;
  }

  .about-us {
    width: 50%;
    position: absolute;
    left: 35rem;
    right: 0;
    top: 6rem;
  }
}

@media (min-width: 1211px) {
  // James Card
  .j-card-flex {
    margin-right: 6rem;
  }

  .about-about {
    right: 36rem;
    top: 6rem;
  }

  // Lina Card
  .l-card-flex {
    margin-left: 6em;
  }

  .about-us {
    left: 43rem;
    top: 6rem;
  }
}

@media (min-width: 1655px) {
  .about-about {
    right: 50rem;
    top: 6rem;
  }
}

@media (max-height: 800px) {
  .j-main-about {
    margin-bottom: 3rem;
  }
}
