/* MAIN CONTAINER */
.contact-container {
  width: 100%;
  text-align: center;
  padding: 2em 1em;
  /* margin-bottom: 0.625rem;  */
}

/* CONTACT CONTAINER */
.contact-header {
  text-align: center;
  letter-spacing: 0.25rem;
  font-size: 3em;
}

.contact-image {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 80%;
}

.contact-image-large {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 37.5rem;
  width: 83%;
}

.contact-text {
  padding: 2em 0;
}

@media (min-width: 801px) {
  .contact-header {
    font-size: 4em;
  }
}

@media (min-width: 1024px) {
  .contact-container {
    margin-bottom: 0rem;
  }
}

@media (min-width: 1029px) {
  .contact-header {
    font-size: 6.5em;
  }
}

@media (min-width: 1655px) {
  .contact-header {
    font-size: 8em;
  }
}
