/* MAIN CONTAINER */
.contact-container {
  width: 100%;
  text-align: center;
  padding: 2em 1em;
}

/* CONTACT CONTAINER */
.contact-header {
  text-align: center;
  padding-bottom: 1em;
  letter-spacing: 4px;
}

.contact-image {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 80%;
}

.contact-image-large {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 83%;
}

.contact-text {
  padding: 2em 0;
}



/* MEDIA QUERY */
/* @media (min-width: 1024px) {
  .contact-image-large {
    display: normal;
  }
} */

/* tailwind */
/* sm = 640 */
/* md = 768 */
/* lg = 1024 */
/* xl = 1280 */
/* 2xl = 1536 */
