/* MAIN CONTAINER */
.contact-container {
  width: 100%;
  text-align: center;
  padding: 2em 1em;
}

/* CONTACT CONTAINER */
.contact-header {
  text-align: center;
  padding-bottom: 1em;
  letter-spacing: 4px;
}

.contact-image {
  margin: 0 auto;
  background-image: cover;
  background-position: center;
}

.contact-color {
  color: var(--org);
}

.contact-text {
  padding: 2em 0;
}

/* INPUT BOX */
.input-box-container {
  padding: 1em 0;}

/* MEDIA QUERY */
@media (min-width: 601px) {
  .contact-text {
    /* background-color: aqua; */
  }
}

/* tailwind */
/* sm = 640 */
/* md = 768 */
/* lg = 1024 */
/* xl = 1280 */
/* 2xl = 1536 */
