@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');

@layer utilities {
  .text-shadow-org {
    text-shadow: 4px 0 #f8724c;
  }
  .text-shadow-pnk {
    text-shadow: 4px 0 #e09384;
  }
  .text-header-org {
    text-shadow: 4px 0 #212020;
  }
  .text-header-pnk {
    text-shadow: 4px 0 #ffffff;
  }
  .nav-light {
    background: rgba(31, 29, 29, 1);
  }
}

*,
*::before,
*::after {
  --blk: #212020;
  --wht: #ffffff;
  --pnk: #e09384;
  --newPnk: #a25a4c;
  --ltPnk: #daada4;
  --org: #f8724c;
  --ltOrg: #ee8d72;
  --dkred: rgb(128, 37, 37);

  box-sizing: border-box;
}

html {
  height: --webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: 'Major Mono Display';
  background-color: var(--blk);
  color: var(--wht);
  line-height: 1.6;
  padding-bottom: 2em;
  /* overflow: hidden; */
  /* height: --webkit-fill-available; */
  height: 100vh;
}

#main {
}

h1 {
  /* line-height: 1;
  font-size: 4.6rem;
  margin: 0; */
}

h2 {
  font-size: 2rem;
  margin: 0;
}
