/* MAIN CONTAINER */
.work-container {
  width: 100%;
  text-align: center;
  padding: 0 1em;
}

.work-header {
  padding: 1em;
}

.work-header h2 {
  font-size: 4em;
}

.header-1 {
  text-align: center;
  height: 100%;
  background-color: #ffffff3d;
  border-radius: 2%;
  padding: 0.3em;
}

.header-1 img {
  height: 100%;
  width: 100%;
  border-radius: 2%;
}

/* MOVING TEXT */
.marquee-container {
  height: 3em;
  overflow: hidden;
  line-height: 2em;
}

.marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.marquee span {
  color: var(--org);
  padding: 2%;
  font-size: 20px;
}

.marquee2 {
  animation-delay: 15s;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
