/* MAIN CONTAINER */
.work-container {
  width: 100%;
  padding: 2em 1em;
}

/* WORK HEADER */
.work-header-main {
  text-align: right;
}

.work-header-main h2 {
  letter-spacing: 4px;
}

/* WORK DESKTOP */
.desktop-image {
  height: 25em;
}

.work-desktop-text {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0em 3em;
}

.work-desktop-text p {
  font-size: 0.7em;
}

/* WORK TABLET */
.tablet-image {
  height: 23em;
}

/* WORK PHONE */
.phone-image {
  height: 22em;
}

/* CSS FOR ALL OTHER WORK CONTAINERS*/

.work-tech {
  position: relative;
  text-align: center;
  color: var(--blk);
  padding: 1em 0em;
}

.work-text {
  position: absolute;
  width: 100%;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0em 3em;
}

.work-text p {
  font-size: 0.7em;
}
