nav {
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.nav-outer {
  background: rgba(255, 255, 255, 1);
}

.nav-list {
  color: var(--blk);
  font-size: 0.625rem;
  width: 100%;
}

.reg-icon-images {
  display: flex;
  justify-content: center;
  height: 2.3em;
}

.social-icon-images {
  display: flex;
  justify-content: center;
}

.openCloseIcon {
  padding-top: 10px;
}

.nav-link.active {
  background-color: rgb(73, 133, 189);
}

@media (min-width: 1029px) {
  .nav-outer {
    display: none;
  }
}
