nav {
    bottom: 0;
    left: 0;
}

.nav-outer {
    background: rgba(255, 255, 255, 0.9);
}

.nav-list {
    color: var(--blk);
    font-size: .625rem;
    width: 100%;
}

.reg-icon-images {
    display: flex;
    justify-content: center;
    height: 2.3em;
}

.social-icon-images {
    display: flex;
    justify-content: center;
}

.openCloseIcon {
    padding-top: 10px;
}

.nav-link.active {
    background-color: rgb(73, 133, 189);
}