/* PROJECTS CAROUSEL FOR MOBILE */
.project-carousel {
  margin-top: 2rem;
}

.project-carousel img {
  height: 150px;
  max-width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  object-fit: fill;
  /* cover / contain*/
  /* top - manually */
}

.item p {
  height: 150px;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wht);
  color: var(--blk);
}

.item {
  opacity: 0.9;
  transform: scale3d(1, 0.8, 1);
  transition: all 0.3s ease-in-out;
}

.project-carousel .owl-item.active.center .item {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
