/* PROJECTS CAROUSEL FOR MOBILE */
.project-carousel {
  margin-top: 2rem;
}

.item p {
  height: 150px;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blk);
  color: var(--wht);
  opacity: 0.8;
}
